<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <title>AfterSchool Activities</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/e712731f30.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <header>
        <h1 v-text="sitename" v-on:click="showProducts"></h1>
        <div v-if="showProduct">
          <input
            type="text"
            v-model="searchQuery"
            placeholder="Search products..."
            class="search-input"
          />
        </div>
        <button v-on:click="showCheckout" :disabled="cart.length === 0">
          {{cartItemCount}}
          <span class="fa-solid fa-cart-shopping"></span>
          Checkout
        </button>
      </header>
      <main>
        <!-- <div>sort by price, title, rating in asc and desc order</div> -->
        <div v-if="showProduct">
          <label>Sort by:</label>
          <select v-model="sortBy" @change="sortProducts">
            <option value="priceAsc">Price (Low to High)</option>
            <option value="priceDesc">Price (High to Low)</option>
            <option value="spacesAsc">Spaces Availability (Low to High)</option>
            <option value="spacesDesc">
              Spaces Availability (High to Low)
            </option>
            <option value="locationAsc">Location (Low to High)</option>
            <option value="locationDesc">Location (High to Low)</option>
            <option value="titleAsc">Title (A-Z)</option>
            <option value="titleDesc">Title (Z-A)</option>
            <option value="ratingAsc">Rating (Low to High)</option>
            <option value="ratingDesc">Rating (High to Low)</option>
          </select>
        </div>
        <div class="product-grid" v-if="showProduct">
          <div id="individual-product" v-for="product in filteredProducts">
            <figure>
              <img v-bind:src="product.image" alt="" />
            </figure>
            <h2 v-text="product.title"></h2>
            <p v-text="product.description"></p>
            <p>Price: {{product.price}}</p>
            <p>Location: {{product.location}}</p>
            <p>
              Available Inventory: {{product.availableInventory -
              cartCount(product.id)}}
            </p>
            <button
              v-on:click="addToCart(product)"
              v-if="canAddToCart(product)"
            >
              Add to Cart
            </button>
            <button disabled="disabled" v-else>Add to cart</button>
            <span v-if="product.availableInventory === cartCount(product.id)">
              All out!</span
            >
            <span
              v-else-if="product.availableInventory - cartCount(product.id) < 5"
            >
              Only {{product.availableInventory - cartCount(product.id)}} left!
            </span>
            <span v-else> Buy Now!</span>
            <div id="rating">
              <span v-for="n in product.rating">★</span>
              <span v-for="n in 5-product.rating">☆</span>
            </div>
          </div>
        </div>
        <div v-else>
          <h2>CHECKOUT PAGE</h2>
          <!-- Cart Items Summary -->
          <!-- <h3>Your Cart:</h3> -->
          <div id="cart_summary" v-if="cart.length > 0">
            <h3>Your Cart:</h3>
            <ul class="cart-item-list">
              <li v-for="productId in uniqueCartItems" class="cart-item">
                <img :src="getProductImage(productId)" alt="Product Image" />
                <div class="cart-item-info">
                  <span class="cart-item-title"
                    >{{ getProductTitle(productId) }}</span
                  ><br />
                  <span class="cart-item-price"
                    >Price: {{ getProductPrice(productId) }}</span
                  ><br />
                  <span class="cart-item-quantity"
                    >Quantity: {{ cartCount(productId) }}</span
                  >
                </div>
                <button v-on:click="removeFromCart(productId)">Remove</button>
                <!-- <button v-on:click="addToCart(productId)">Add</button> -->
              </li>
            </ul>
          </div>
          <div v-else v-on:click="productsPage()"></div>
          <p>
            <strong>Full Name:</strong>
            <input
              v-model.trim="order.fullName"
              @input="order.fullName = order.fullName.replace(/[^a-zA-Z\s]/g, '')"
              type="text"
            />
          </p>
          <p>
            <strong>Phone Number:</strong>
            <input
              v-model.trim="order.phone"
              type="tel"
              pattern="[0-9]*"
              @input="order.phone = order.phone.replace(/[^0-9]/g, '')"
            />
          </p>
          <p>
            <strong>Country:</strong>
            <select v-model="order.country" class="form-control">
              <option v-for="country in countries" v-bind:value="country">
                {{country}}
              </option>
            </select>
          </p>
          <p>
            <strong>City:</strong>
            <input
              v-model.trim="order.city"
              type="text"
              @input="order.city = order.city.replace(/[^a-zA-Z\s]/g, '')"
            />
          </p>
          <p>
            <strong>Address:</strong>
            <input v-model="order.address" />
          </p>
          <p>
            <strong>Zip/Postal Code:</strong>
            <input v-model.number="order.zip" type="number" />
          </p>
          <p>
            <input
              type="checkbox"
              id="Gift"
              value="true"
              v-model="order.gift"
              v-bind:true-value="order.sendGift"
              v-bind:false-value="order.dontSendGift"
            />
            <label for="gift">Ship As Gift?</label>
          </p>
          <h2>Order Information</h2>
          <p>Full Name: {{order.fullName}}</p>
          <p>Contact Number: {{order.phone}}</p>
          <p>Country: {{order.country}}</p>
          <p>City: {{order.city}}</p>
          <p>Address: {{order.address}}</p>
          <p>Zip/Postal Code: {{order.zip}}</p>
          <p>Ship as gift: {{order.gift}}</p>
          <button v-on:click="submitForm" :disabled="!FormComplete">
            Place Order
          </button>
        </div>
      </main>
    </div>
    <script>
      var webstore = new Vue({
        el: "#app",
        data: {
          sitename: "AfterSchool Activities",
          showProduct: true,
          products: products,
          sortBy: "priceAsc",
          cart: [],
          searchQuery: "",
          order: {
            fullName: "",
            phone: "",
            address: "",
            city: "",
            zip: "",
            gift: false,
            dontSendGift: "Do not send as a gift",
            sendGift: "Send as a gift",
          },
          countries: [
            "Afghanistan",
            "Albania",
            "Algeria",
            "Andorra",
            "Angola",
            "Antigua and Barbuda",
            "Argentina",
            "Armenia",
            "Australia",
            "Austria",
            "Azerbaijan",
            "Bahamas",
            "Bahrain",
            "Bangladesh",
            "Barbados",
            "Belarus",
            "Belgium",
            "Belize",
            "Benin",
            "Bhutan",
            "Bolivia",
            "Bosnia and Herzegovina",
            "Botswana",
            "Brazil",
            "Brunei",
            "Bulgaria",
            "Burkina Faso",
            "Burundi",
            "Cabo Verde",
            "Cambodia",
            "Cameroon",
            "Canada",
            "Central African Republic",
            "Chad",
            "Chile",
            "China",
            "Colombia",
            "Comoros",
            "Congo",
            "Costa Rica",
            "Croatia",
            "Cuba",
            "Cyprus",
            "Czech Republic",
            "Democratic Republic of the Congo",
            "Denmark",
            "Djibouti",
            "Dominica",
            "Dominican Republic",
            "Ecuador",
            "Egypt",
            "El Salvador",
            "Equatorial Guinea",
            "Eritrea",
            "Estonia",
            "Eswatini",
            "Ethiopia",
            "Fiji",
            "Finland",
            "France",
            "Gabon",
            "Gambia",
            "Georgia",
            "Germany",
            "Ghana",
            "Greece",
            "Grenada",
            "Guatemala",
            "Guinea",
            "Guinea-Bissau",
            "Guyana",
            "Haiti",
            "Honduras",
            "Hungary",
            "Iceland",
            "India",
            "Indonesia",
            "Iran",
            "Iraq",
            "Ireland",
            "Israel",
            "Italy",
            "Jamaica",
            "Japan",
            "Jordan",
            "Kazakhstan",
            "Kenya",
            "Kiribati",
            "Korea, North",
            "Korea, South",
            "Kuwait",
            "Kyrgyzstan",
            "Laos",
            "Latvia",
            "Lebanon",
            "Lesotho",
            "Liberia",
            "Libya",
            "Liechtenstein",
            "Lithuania",
            "Luxembourg",
            "Madagascar",
            "Malawi",
            "Malaysia",
            "Maldives",
            "Mali",
            "Malta",
            "Marshall Islands",
            "Mauritania",
            "Mauritius",
            "Mexico",
            "Micronesia",
            "Moldova",
            "Monaco",
            "Mongolia",
            "Montenegro",
            "Morocco",
            "Mozambique",
            "Myanmar",
            "Namibia",
            "Nauru",
            "Nepal",
            "Netherlands",
            "New Zealand",
            "Nicaragua",
            "Niger",
            "Nigeria",
            "North Macedonia",
            "Norway",
            "Oman",
            "Pakistan",
            "Palau",
            "Palestine",
            "Panama",
            "Papua New Guinea",
            "Paraguay",
            "Peru",
            "Philippines",
            "Poland",
            "Portugal",
            "Qatar",
            "Romania",
            "Russia",
            "Rwanda",
            "Saint Kitts and Nevis",
            "Saint Lucia",
            "Saint Vincent and the Grenadines",
            "Samoa",
            "San Marino",
            "Sao Tome and Principe",
            "Saudi Arabia",
            "Senegal",
            "Serbia",
            "Seychelles",
            "Sierra Leone",
            "Singapore",
            "Slovakia",
            "Slovenia",
            "Solomon Islands",
            "Somalia",
            "South Africa",
            "South Sudan",
            "Spain",
            "Sri Lanka",
            "Sudan",
            "Suriname",
            "Sweden",
            "Switzerland",
            "Syria",
            "Taiwan",
            "Tajikistan",
            "Tanzania",
            "Thailand",
            "Timor-Leste",
            "Togo",
            "Tonga",
            "Trinidad and Tobago",
            "Tunisia",
            "Turkey",
            "Turkmenistan",
            "Tuvalu",
            "Uganda",
            "Ukraine",
            "United Arab Emirates",
            "United Kingdom",
            "United States",
            "Uruguay",
            "Uzbekistan",
            "Vanuatu",
            "Vatican City",
            "Venezuela",
            "Vietnam",
            "Yemen",
            "Zambia",
            "Zimbabwe",
          ],
        },
        mounted() {
          if (this.cartIsEmpty) {
            this.showProducts();
          }
        },
        watch: {
          searchQuery() {
            this.filteredProducts(); // Every keystroke will trigger the computed property of displaying the results dynamically
          },
        },
        methods: {
          showProducts() {
            this.showProduct = true;
          },
          addToCart(product) {
            this.cart.push(product.id);
          },
          canAddToCart(product) {
            return product.availableInventory > this.cartCount(product.id);
          },
          removeFromCart(productId) {
            const index = this.cart.lastIndexOf(productId);
            if (index > -1) {
              this.cart.splice(index, 1);
            }
            if (this.cart.length === 0) {
              this.showProduct = true;
            }
          },
          productsPage() {
            this.showProduct = this.showProduct ? false : true;
          },
          submitForm() {
            {
              alert("Order submitted");
              this.showProduct = this.showProduct ? false : true;
            }
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) {
                count++;
              }
            }
            return count;
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
          getProductTitle(productId) {
            const product = this.products.find((p) => p.id === productId);
            return product ? product.title : "Not a Product";
          },
          getProductPrice(productId) {
            const product = this.products.find((p) => p.id === productId);
            return product ? product.price : "Not a Product";
          },
          getProductImage(productId) {
            const product = this.products.find((p) => p.id === productId);
            return product ? product.image : "Product Image";
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length;
          },

          sortedProducts() {
            const spacesAvailable = (product) =>
              product.availableInventory - this.cartCount(product.id);
            //Removed switch since below codes works perfectly and redundant sata is reduced
            const sortingFunctions = {
              priceAsc: (a, b) => a.price - b.price,
              priceDesc: (a, b) => b.price - a.price,
              spacesAsc: (a, b) => spacesAvailable(a) - spacesAvailable(b),
              spacesDesc: (a, b) => spacesAvailable(b) - spacesAvailable(a),
              locationAsc: (a, b) => a.location.localeCompare(b.location),
              locationDesc: (a, b) => b.location.localeCompare(a.location),
              titleAsc: (a, b) => a.title.localeCompare(b.title),
              titleDesc: (a, b) => b.title.localeCompare(a.title),
              ratingAsc: (a, b) => a.rating - b.rating,
              ratingDesc: (a, b) => b.rating - a.rating,
            };

            return [...this.products].sort(
              sortingFunctions[this.sortBy] || (() => 0)
            );
          },
          uniqueCartItems() {
            return [...new Set(this.cart)]; //Set object removes all duplicate values so if a product is selected twice it won't appear twice with all the deets just one line with quantity set as 2
          },
          FormComplete() {
            return (
              this.order.fullName.trim() !== "" &&
              this.order.phone.trim() !== "" &&
              this.order.address.trim() !== "" &&
              this.order.city.trim() !== "" &&
              this.order.zip !== "" &&
              this.order.country !== ""
            );
          },
          filteredProducts() {
            return this.sortedProducts.filter((product) => {
              const query = this.searchQuery.toLowerCase();
              const spacesAvailable =
                product.availableInventory - this.cartCount(product.id);
              return (
                product.title.toLowerCase().includes(query) || // || = or
                product.price.toString().includes(query) || // Convert price to string to allow text-based matching since price stored as string
                product.location.toLowerCase().includes(query) ||
                spacesAvailable.toString().includes(query)
              );
            });
          },
        },
      });
    </script>
  </body>
</html>