<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the webpage that appears in the browser tab -->
    <title>AfterSchool Activities</title>
    <link
      rel="icon"
      href="https://cst3144-backend-8ctf.onrender.com/images/Website_Logo.png"
      type="image/png"
    />
    <!-- CDN link for Vue.js (no need to install Vue CLI) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <!-- FontAwesome kit for including icons from the FontAwesome library -->
    <script
      src="https://kit.fontawesome.com/e712731f30.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Root element div -->
    <div id="app">
      <header>
        <!-- Vue directives used here are v-text, v-on and v-if -->
        <!-- v-text binds text context here it is AfterSchoolActivities -->
        <!-- v-on directive for event bindings-->
        <!-- Navbar contains sitename, searchbox and checkout button-->
        <h1 v-text="sitename" v-on:click="showLessons"></h1>
        <!-- If user is on Lesson Page -->
        <div v-if="showLesson">
          <!-- Search box -->
          <input
            type="text"
            v-model="searchQuery"
            placeholder="Search lessons..."
            class="search-input"
          />
        </div>
        <!-- Button is only enabled once cart contains atleast one lesson with minimum one inventory  -->
        <button v-on:click="showCheckout" :disabled="cart.length === 0">
          {{cartItemCount}}
          <span class="fa-solid fa-cart-shopping"></span>
          Checkout
        </button>
      </header>
      <main>
        <!-- Sorting -->
        <div id="sort" v-if="showLesson">
          <label>Sort by:</label>
          <select v-model="sortBy.field">
            <!-- fields provided are price, spaces availability, location, title and rating -->
            <option
              v-for="field in fields"
              :key="field.value"
              :value="field.value"
            >
              {{ field.label }}
            </option>
          </select>
          <!-- This button toggles the sort order when clicked. -->
          <!-- If the sort order is "asc" (ascending), it displays "Order: Ascending". -->
          <!-- Otherwise, it displays "Order: Descending". -->
          <button @click="toggleSortOrder">
            Order: {{ sortBy.order === "asc" ? "Ascending" : "Descending" }}
          </button>
        </div>
        <!-- Lesson Details -->
        <div class="lesson-grid" v-if="showLesson">
          <!-- Looping through sorted lessons to render each lesson's details -->
          <div
            id="individual-lesson"
            v-for="lesson in sortedLessons"
            :key="lesson.id"
          >
            <figure>
              <!-- Lesson Image displayed -->
              <img
                v-bind:src="`https://cst3144-backend-8ctf.onrender.com/${lesson.image}`"
                alt=""
              />
            </figure>
            <!-- Renders lesson title and description using v-text -->
            <!-- Default interpolation -->
            <h2 v-text="lesson.title"></h2>
            <p v-text="lesson.description"></p>
            <!-- Declarative rendering through mustache syntax -->
            <p>Price: {{lesson.price}}</p>
            <p>Location: {{lesson.location}}</p>
            <!-- Based on the quantity of the lesson added to the cart from the front-end dynamically the available inventory count will decrease -->
            <p>
              Available Inventory: {{lesson.availableInventory -
              cartCount(lesson.id)}}
            </p>
            <!--If available inventory for the specific lesson is more than 0 add to cart button is enabled -->
            <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)">
              Add to Cart
            </button>
            <button disabled="disabled" v-else>Add to cart</button>
            <!-- Inventory status messages -->
            <!-- Displays a message based on the inventory count -->
            <span v-if="lesson.availableInventory === cartCount(lesson.id)"
              >All out!</span
            >
            <!-- If inventory is more than 0 -->
            <span v-else>
              Only {{lesson.availableInventory - cartCount(lesson.id)}} left!
            </span>
            <!-- Rating System -->
            <div id="rating">
              <!-- Displays stars based on the lesson's rating -->
              <!-- Hollow stars fill the remainder up to 5 -->
              <span v-for="n in lesson.rating">★</span>
              <span v-for="n in 5-lesson.rating">☆</span>
            </div>
          </div>
        </div>
        <!-- Checkout and Order Confirmation Page -->
        <div v-else>
          <!-- If user has placed the order -->
          <!-- Header text changes to Order Confirmation -->
          <h2
            v-text="orderPlaced ? 'ORDER CONFIRMATION' : 'CHECKOUT PAGE'"
            v-on:click="showLessons"
          ></h2>
          <!-- Cart Items Summary -->
          <div id="cart_summary" v-if="cart.length > 0">
            <h3 v-if="!orderPlaced">Your Cart:</h3>
            <!-- Each lesson details in the cart -->
            <ul class="cart-item-list">
              <li v-for="lessonId in uniqueCartItems" class="cart-item">
                <!-- Lesson Image -->
                <img
                  :src="`https://cst3144-backend-8ctf.onrender.com/${getLessonImage(lessonId)}`"
                  alt="Lesson Image"
                />
                <div class="cart-item-info">
                  <!-- Lesson Title -->
                  <span class="cart-item-title"
                    >{{ getLessonTitle(lessonId) }}</span
                  ><br />
                  <!-- Lesson Price -->
                  <span class="cart-item-price"
                    >Price: {{ getLessonPrice(lessonId) }}</span
                  ><br />
                  <!-- Lesson Quantity -->
                  <span class="cart-item-quantity"
                    >Quantity: {{ cartCount(lessonId) }}</span
                  >
                </div>
                <!-- From front-end remove product via the button -->
                <button
                  v-on:click="removeFromCart(lessonId)"
                  v-if="!orderPlaced"
                >
                  Remove
                </button>
              </li>
            </ul>
          </div>
          <div v-else v-on:click="lessonsPage()"></div>
          <!-- Order Form -->
          <div id="order_form" v-if="showOrderForm">
            <!-- Name -->
            <p>
              <strong>Full Name:</strong>
              <input
                v-model.trim="order.fullName"
                @input="validateName"
                type="text"
              />
              <span v-if="!nameValid" class="error"
                >Name must contain only letters.</span
              >
            </p>
            <!-- Phone Number -->
            <p>
              <strong>Phone Number:</strong>
              <input
                v-model.trim="order.phone"
                @input="validatePhone"
                type="tel"
              />
              <span v-if="!phoneValid" class="error"
                >Phone must contain only numbers.</span
              >
            </p>
            <!-- Country Dropdown -->
            <p>
              <strong>Country:</strong>
              <select v-model="order.country" class="form-control">
                <option v-for="country in countries" v-bind:value="country">
                  {{country}}
                </option>
              </select>
            </p>
            <!-- City -->
            <p>
              <strong>City:</strong>
              <input
                v-model.trim="order.city"
                type="text"
                @input="order.city = order.city.replace(/[^a-zA-Z\s]/g, '')"
              />
            </p>
            <!-- Address -->
            <p>
              <strong>Address:</strong>
              <input v-model="order.address" />
            </p>
            <!-- Zip/Postal Code -->
            <p>
              <strong>Zip/Postal Code:</strong>
              <input v-model.number="order.zip" type="number" />
            </p>
            <!-- Place Order button enabled only once user has successfully filled the order form accurately-->
            <button v-on:click="submitForm" :disabled="!FormComplete">
              Place Order
            </button>
          </div>
        </div>
        <!-- Summary of Order Details which from the above div includes cart details-->
        <div v-if="showOrder">
          <!-- Declarative rendering for displaying the orders array details -->
          <p>Full Name: {{order.fullName}}</p>
          <p>Contact Number: {{order.phone}}</p>
          <p>Country: {{order.country}}</p>
          <p>City: {{order.city}}</p>
          <p>Address: {{order.address}}</p>
          <p>Zip/Postal Code: {{order.zip}}</p>
        </div>
      </main>
    </div>
    <script>
      // Vue Instance created by using the mount element app
      var webstore = new Vue({
        // el is Element and it is referrenced using the div id app
        el: "#app",
        data: {
          sitename: "AfterSchool Activities",
          showLesson: true,
          showOrder: false,
          showOrderForm: true,
          // OrderPlaced is true only once user has filled the orderForm correctly
          orderPlaced: false,
          lessons: [],
          orders: [],
          // search results stored here
          filteredLessons: [],
          fields: [
            { value: "price", label: "Price" },
            { value: "spaces", label: "Spaces Availability" },
            { value: "location", label: "Location" },
            { value: "title", label: "Title" },
            { value: "rating", label: "Rating" },
          ],
          // Default sorting is by price in the ascending order
          sortBy: { field: "price", order: "asc" },
          // All lessons chosen by the
          cart: [],
          cartItemsDetails: [],
          searchQuery: "",
          order: {
            address: "",
            city: "",
            zip: "",
          },
          nameValid: true,
          phoneValid: true,
          // List of countries
          countries: [
            "Afghanistan",
            "Albania",
            "Algeria",
            "Andorra",
            "Angola",
            "Antigua and Barbuda",
            "Argentina",
            "Armenia",
            "Australia",
            "Austria",
            "Azerbaijan",
            "Bahamas",
            "Bahrain",
            "Bangladesh",
            "Barbados",
            "Belarus",
            "Belgium",
            "Belize",
            "Benin",
            "Bhutan",
            "Bolivia",
            "Bosnia and Herzegovina",
            "Botswana",
            "Brazil",
            "Brunei",
            "Bulgaria",
            "Burkina Faso",
            "Burundi",
            "Cabo Verde",
            "Cambodia",
            "Cameroon",
            "Canada",
            "Central African Republic",
            "Chad",
            "Chile",
            "China",
            "Colombia",
            "Comoros",
            "Congo",
            "Costa Rica",
            "Croatia",
            "Cuba",
            "Cyprus",
            "Czech Republic",
            "Democratic Republic of the Congo",
            "Denmark",
            "Djibouti",
            "Dominica",
            "Dominican Republic",
            "Ecuador",
            "Egypt",
            "El Salvador",
            "Equatorial Guinea",
            "Eritrea",
            "Estonia",
            "Eswatini",
            "Ethiopia",
            "Fiji",
            "Finland",
            "France",
            "Gabon",
            "Gambia",
            "Georgia",
            "Germany",
            "Ghana",
            "Greece",
            "Grenada",
            "Guatemala",
            "Guinea",
            "Guinea-Bissau",
            "Guyana",
            "Haiti",
            "Honduras",
            "Hungary",
            "Iceland",
            "India",
            "Indonesia",
            "Iran",
            "Iraq",
            "Ireland",
            "Israel",
            "Italy",
            "Jamaica",
            "Japan",
            "Jordan",
            "Kazakhstan",
            "Kenya",
            "Kiribati",
            "Korea, North",
            "Korea, South",
            "Kuwait",
            "Kyrgyzstan",
            "Laos",
            "Latvia",
            "Lebanon",
            "Lesotho",
            "Liberia",
            "Libya",
            "Liechtenstein",
            "Lithuania",
            "Luxembourg",
            "Madagascar",
            "Malawi",
            "Malaysia",
            "Maldives",
            "Mali",
            "Malta",
            "Marshall Islands",
            "Mauritania",
            "Mauritius",
            "Mexico",
            "Micronesia",
            "Moldova",
            "Monaco",
            "Mongolia",
            "Montenegro",
            "Morocco",
            "Mozambique",
            "Myanmar",
            "Namibia",
            "Nauru",
            "Nepal",
            "Netherlands",
            "New Zealand",
            "Nicaragua",
            "Niger",
            "Nigeria",
            "North Macedonia",
            "Norway",
            "Oman",
            "Pakistan",
            "Palau",
            "Palestine",
            "Panama",
            "Papua New Guinea",
            "Paraguay",
            "Peru",
            "Philippines",
            "Poland",
            "Portugal",
            "Qatar",
            "Romania",
            "Russia",
            "Rwanda",
            "Saint Kitts and Nevis",
            "Saint Lucia",
            "Saint Vincent and the Grenadines",
            "Samoa",
            "San Marino",
            "Sao Tome and Principe",
            "Saudi Arabia",
            "Senegal",
            "Serbia",
            "Seychelles",
            "Sierra Leone",
            "Singapore",
            "Slovakia",
            "Slovenia",
            "Solomon Islands",
            "Somalia",
            "South Africa",
            "South Sudan",
            "Spain",
            "Sri Lanka",
            "Sudan",
            "Suriname",
            "Sweden",
            "Switzerland",
            "Syria",
            "Taiwan",
            "Tajikistan",
            "Tanzania",
            "Thailand",
            "Timor-Leste",
            "Togo",
            "Tonga",
            "Trinidad and Tobago",
            "Tunisia",
            "Turkey",
            "Turkmenistan",
            "Tuvalu",
            "Uganda",
            "Ukraine",
            "United Arab Emirates",
            "United Kingdom",
            "United States",
            "Uruguay",
            "Uzbekistan",
            "Vanuatu",
            "Vatican City",
            "Venezuela",
            "Vietnam",
            "Yemen",
            "Zambia",
            "Zimbabwe",
          ],
        },
        // Created hook
        created() {
          // Fetching all the lessons from the lessons collection in MongoDB
          fetch(
            "https://cst3144-backend-8ctf.onrender.com/AfterSchoolActivities/lessons",
            {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            }
          )
            // Using promise-based approach
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            // Converting the lesson
            .then((responseJSON) => {
              console.log("Response received:", responseJSON);
              this.lessons = responseJSON;
              this.filteredLessons = responseJSON;
            })
            // Logging the error
            .catch((error) => {
              console.error("Error:", error);
            });
        },
        mounted() {
          if (this.cartIsEmpty) {
            this.showLessons();
          }
        },
        watch: {
          searchQuery(newQuery) {
            this.fetchFilteredLessons(newQuery);
          },
        },
        methods: {
          showLessons() {
            this.showLesson = true;
          },
          addToCart(lesson) {
            this.cart.push(lesson.id);
            const existingLesson = this.cartItemsDetails.find(
              (item) => item.id === lesson.id
            );

            if (existingLesson) {
              existingLesson.quantity++;
            } else {
              this.cartItemsDetails.push({
                id: lesson.id,
                title: lesson.title,
                price: lesson.price,
                quantity: 1,
                location: lesson.location,
              });
            }
          },
          canAddToCart(lesson) {
            return lesson.availableInventory > this.cartCount(lesson.id);
          },
          removeFromCart(lessonId) {
            const index = this.cart.lastIndexOf(lessonId);
            if (index > -1) {
              this.cart.splice(index, 1);
            }
            if (this.cart.length === 0) {
              this.showLesson = true;
            }
          },
          toggleSortOrder() {
            this.sortBy.order = this.sortBy.order === "asc" ? "desc" : "asc";
          },
          lessonsPage() {
            this.showLesson = this.showLesson ? false : true;
          },
          fetchFilteredLessons(query) {
            if (!query) {
              this.filteredLessons = [];
              return;
            }
            fetch(
              `https://cst3144-backend-8ctf.onrender.com/AfterSchoolActivities/search/${query}`
            )
              .then((response) => response.json())
              .then((lessons) => {
                this.filteredLessons = lessons;
                // Log message if no results are found
                if (lessons.length === 0) {
                  console.log(`No results found for "${query}"`);
                }
              })
              .catch((error) => {
                console.error("Error fetching lessons:", error);
                this.filteredLessons = [];
              });
          },
          submitForm() {
            {
              this.showLesson = false;
              this.showOrder = true;
              this.showOrderForm = false;
              this.orderPlaced = true;
            }
            const orderDetails = {
              fullName: this.order.fullName,
              phone: this.order.phone,
              country: this.order.country,
              city: this.order.city,
              address: this.order.address,
              zip: this.order.zip,
              cartItems: this.cartItemsDetails,
            };
            fetch(
              "https://cst3144-backend-8ctf.onrender.com/AfterSchoolActivities/orders",
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(orderDetails),
              }
            )
              .then((response) => {
                if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
              })
              .then((responseJSON) => {
                console.log("Order saved successfully:", responseJSON);
                this.orderPlaced = true;
                this.updateInventoryAfterOrder(this.cartItemsDetails);
              })
              .catch((error) => {
                console.error("Error saving order:", error);
              });
          },
          updateInventoryAfterOrder(cartItems) {
            cartItems.forEach((item) => {
              fetch(
                `https://cst3144-backend-8ctf.onrender.com/AfterSchoolActivities/lessons/${item.id}`,
                {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    quantity: item.quantity,
                  }),
                }
              )
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(
                      `Failed to update inventory for lesson ${item.id}`
                    );
                  }
                  return response.json();
                })
                .then((responseJSON) => {
                  console.log(
                    "Inventory updated for lesson:",
                    item.id,
                    "-",
                    item.title,
                    responseJSON
                  );
                })
                .catch((error) => {
                  console.error("Error updating inventory:", error);
                });
            });
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) {
                count++;
              }
            }
            return count;
          },
          validateName() {
            const nameRegex = /^[a-zA-Z\s]+$/; // Letters and spaces only
            this.nameValid = nameRegex.test(this.order.fullName); // Set validity of fullName
          },
          validatePhone() {
            const phoneRegex = /^[0-9]+$/; // Numbers only
            this.phoneValid = phoneRegex.test(this.order.phone); // Set validity of phone
          },
          showCheckout() {
            this.showLesson = this.showLesson ? false : true;
          },
          getLessonTitle(lessonId) {
            const lesson = this.lessons.find((p) => p.id === lessonId);
            return lesson ? lesson.title : "Not a Lesson";
          },
          getLessonPrice(lessonId) {
            const lesson = this.lessons.find((p) => p.id === lessonId);
            return lesson ? lesson.price : "Not a Lesson";
          },
          getLessonImage(lessonId) {
            const lesson = this.lessons.find((p) => p.id === lessonId);
            return lesson ? lesson.image : "Lesson Image";
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length;
          },
          sortedLessons() {
            const lessonsToSort = this.filteredLessons.length
              ? this.filteredLessons
              : this.lessons;
            const spacesAvailable = (lesson) =>
              lesson.availableInventory - this.cartCount(lesson.id);

            const sortingFunctions = {
              price: (a, b) => a.price - b.price,
              spaces: (a, b) => spacesAvailable(a) - spacesAvailable(b),
              location: (a, b) => a.location.localeCompare(b.location),
              title: (a, b) => a.title.localeCompare(b.title),
              rating: (a, b) => a.rating - b.rating,
            };

            const sortFn = sortingFunctions[this.sortBy.field];
            const sorted = [...lessonsToSort].sort(sortFn);

            return this.sortBy.order === "asc" ? sorted : sorted.reverse();
          },

          uniqueCartItems() {
            return [...new Set(this.cart)]; //Set object removes all duplicate values so if a lesson is selected twice it won't appear twice with all the deets just one line with quantity set as 2
          },
          FormComplete() {
            return (
              this.nameValid && // Full Name is valid
              this.phoneValid && // Phone is valid
              this.order.address.trim() !== "" &&
              this.order.city.trim() !== "" &&
              this.order.zip !== "" &&
              this.order.country !== ""
            );
          },
        },
      });
    </script>
  </body>
</html>
